# Python
__pycache__/
*.pyc
.venv/
.env

# OS / editor
.DS_Store
.vscode/
.idea/

# Outputs / checkpoints
runs/
adv_viz/
logs/
sbatch/logs/
runs (1)/
runs (2)/
FETCH_HEAD

*.pt
*.pth
*.ckpt
*.out
*.err
*.gif
*.mp4
